openapi: 3.0.1
info:
  title: Zavijava
  version: '1.0'
servers:
  - url: 'https://api.zavijava.optize.pl/1.0'
paths:
  /login:
    post:
      summary: Zalogowanie użytkownika
      requestBody:
        description: Formularz logowania
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login'
      responses:
        '200':
          description: Zalogowanie zakończone sukcesem
          content:
            application/json:
              schema:
                $ref: '#/components/responses/login'
  /logout:
    post:
      summary: Wylogowanie użytkownika
      parameters:
        - $ref: '#/components/parameters/token'
      responses:
        '202':
          description: Wylogowanie zakończone sukcesem
  /task:
    post:
      summary: Dodanie zadania
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        description: Formularz dodania zadania
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/taskAdd'
      responses:
        '200':
          description: Dodanie zadania zakończone sukcesem
          content:
            application/json:
              schema:
                $ref: '#/components/responses/taskId'
  /task/list:
    get:
      summary: Lista zadań
      parameters:
        - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Pobranie listy zadań zakończone sukcesem
          content:
            application/json:
              schema:
                $ref: '#/components/responses/taskList'
  /task/{id}:
    parameters:
      - $ref: '#/components/parameters/taskId'
      - $ref: '#/components/parameters/token'
    delete:
      summary: Usunięcie zadania
      responses:
        '202':
          description: Usunięcie zadania zakończone sukcesem
    get:
      summary: Szczegóły zadania
      responses:
        '200':
          description: Pobranie szczegółów zadania zakończone sukcesem
          content:
            application/json:
              schema:
                $ref: '#/components/responses/task'
    put:
      summary: Edycja zadania
      requestBody:
        description: Formularz edycji zadania
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/taskEdit'
      responses:
        '202':
          description: Edycja zadania zakończona sukcesem
  /user:
    post:
      summary: Dodanie użytkownika
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        description: Formularz dodania użytkownika
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userAdd'
      responses:
        '200':
          description: Dodanie użytkownika zakończone sukcesem
          content:
            application/json:
              schema:
                $ref: '#/components/responses/userId'
  /user/list:
    get:
      summary: Lista użytkowników
      parameters:
        - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Pobranie listy użytkowników zakończone sukcesem
          content:
            application/json:
              schema:
                $ref: '#/components/responses/userList'
  /user/{id}:
    parameters:
      - $ref: '#/components/parameters/userId'
      - $ref: '#/components/parameters/token'
    delete:
      summary: Usunięcie użytkownika
      responses:
        '202':
          description: Usunięcie użytkownika zakończone sukcesem
    get:
      summary: Szczegóły użytkownika
      responses:
        '200':
          description: Pobranie szczegółów użytkownika zakończone sukcesem
          content:
            application/json:
              schema:
                $ref: '#/components/responses/user'
    put:
      summary: Edycja użytkownika
      parameters:
        - $ref: '#/components/parameters/token'
      requestBody:
        description: Formularz edycji użytkownika
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userEdit'
      responses:
        '202':
          description: Edycja użytkownika zakończona sukcesem
components:
  parameters:
    taskId:
      name: id
      in: path
      description: Identyfikator zadania
      required: true
      schema:
        type: integer
        format: int64
    userId:
      name: id
      in: path
      description: Identyfikator użytkownika
      required: true
      schema:
        type: integer
        format: int64
    token:
      name: token
      in: header
      description: Token zalogowanego użytkownika
      required: true
      schema:
        type: string
  responses:
    login:
      description: Token do autoryzacji zapytań
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/token'
    task:
      description: Szczegóły zadania
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/taskDetails'
    user:
      description: Szczegóły użytkownika
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/userDetails'
    taskId:
      description: Identyfikator zadania
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/id'
    userId:
      description: Identyfikator użytkownika
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/id'
    taskList:
      description: Lista zadań
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/taskList'
    userList:
      description: Lista użytkowników
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/userList'
  schemas:
    id:
      type: object
      properties:
        id:
          type: integer
          format: int64
      example:
        id: 1
    login:
      type: object
      properties:
        name:
          type: string
        password:
          type: string
          format: password
      required:
        - name
        - password
      example:
        name: Otis Optize
        password: qwerty123
    taskAdd:
      type: object
      properties:
        name:
          description: Nazwa zadania
          type: string
        startDate:
          description: Data rozpoczęcia realizacji zadania
          type: string
          format: date-time
        endDate:
          description: Data zakończenia realizacji zadania
          type: string
          format: date-time
      required:
      - name
    taskDetails:
      type: object
      properties:
        id:
          description: Identyfikator zadania w bazie danych
          type: integer
          format: int64
        name:
          description: Nazwa zadania
          type: string
        status:
          description: >
            Status zadania:
              * `0` - Do zrobienia
              * `1` - W trakcie robienia
              * `2` - Do sprawdzenia
              * `3` - W trakcie sprawdzania
              * `4` - Do poprawienia
              * `5` - W trakcie poprawiania
              * `6` - Sprawdzone
              * `7` - Zrobione bez sprawdzenia
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
        startDate:
          description: Data rozpoczęcia realizacji zadania
          type: string
          format: date-time
        endDate:
          description: Data zakończenia realizacji zadania
          type: string
          format: date-time
      required:
      - name
      - status
    taskEdit:
      type: object
      properties:
        name:
          description: Nazwa zadania
          type: string
        status:
          description: >
            Status zadania:
              * `0` - Do zrobienia
              * `1` - W trakcie robienia
              * `2` - Do sprawdzenia
              * `3` - W trakcie sprawdzania
              * `4` - Do poprawienia
              * `5` - W trakcie poprawiania
              * `6` - Sprawdzone
              * `7` - Zrobione bez sprawdzenia
          type: integer
          format: int32
          enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
        startDate:
          description: Data rozpoczęcia realizacji zadania
          type: string
          format: date-time
        endDate:
          description: Data zakończenia realizacji zadania
          type: string
          format: date-time
    taskList:
      type: array
      items:
        $ref: '#/components/schemas/taskDetails'
    userAdd:
      type: object
      properties:
        name:
          type: string
        password:
          type: string
          format: password
      required:
        - name
        - password
      example:
        name: Otis Optize
        password: qwerty123
    userDetails:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      required:
        - id
        - name
      example:
        id: 1
        name: Otis Optize
    userEdit:
      type: object
      properties:
        name:
          type: string
        password:
          type: string
          format: password
      example:
        name: Otis Optize
        password: qwerty123
    userList:
      type: array
      items:
        $ref: '#/components/schemas/userDetails'
    token:
      type: object
      properties:
        token:
          type: string
      required:
        - token
      example:
        token: 1d5505ddc59218a10b92de8c75eb0932

